@*@model IEnumerable<JobMaster.Job>*@
<!-- Find Job Section Start -->
<section class="find-job section">
    <div class="container">
        <h2 class="section-title">Hot Jobs</h2>
        <div class="row">
            <div class="col-md-12">
                @*@foreach (var item in Model)
                {
                    <div class="job-list">
                        <div class="thumb">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/jobs/img-5.jpg" alt=""></a>
                        </div>
                        <div class="job-list-content">
                            <h4><a asp-area="" asp-controller="Home" asp-action="Index">@item.Title</a><span class="full-time">Full-Time</span></h4>
                            <p>@item.Description</p>
                            <div class="job-tag">
                                <div class="pull-left">
                                    <div class="meta-tag">
                                        <span><a asp-area="" asp-controller="Home" asp-action="Index"><i class="ti-brush"></i>@item.Experience</a></span>
                                        <span><i class="ti-location-pin"></i>@item.Company</span>
                                        <span><i class="ti-time"></i>@item.SalaryFrom - @item.SalaryTo</span>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="icon">
                                        <i class="ti-heart"></i>
                                    </div>
                                    <a class="btn btn-common btn-rm" asp-area="" asp-controller="Home" asp-action="Index">More Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }*@
            </div>
            @*<div class="col-md-12">
                <div class="showing pull-left">
                    <a href="#">Showing <span>6-10</span> Of 24 Jobs</a>
                </div>
                <ul class="pagination pull-right">
                    <li class="active"><a href="#" class="btn btn-common"><i class="ti-angle-left"></i> prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li class="active"><a href="#" class="btn btn-common">Next <i class="ti-angle-right"></i></a></li>
                </ul>
            </div>*@
        </div>
    </div>
</section>
<!-- Find Job Section End -->
<!-- Featured Jobs Section Start -->
<section class="featured-jobs section">
    <div class="container">
        <h2 class="section-title">
            Featured Jobs
        </h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="featured-wrap">
                        <div class="featured-inner">
                            <figure class="item-thumb">
                                <a class="hover-effect" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/images/features/img-1.jpg" alt="">
                                </a>
                            </figure>
                            <div class="item-body">
                                <h3 class="job-title"><a asp-area="" asp-controller="Home" asp-action="Index">Graphic Designer</a></h3>
                                <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div>
                            </div>
                        </div>
                    </div>
                    <div class="item-foot">
                        <span><i class="ti-calendar"></i> 4 months ago</span>
                        <span><i class="ti-time"></i> Full Time</span>
                        <div class="view-iocn">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="featured-wrap">
                        <div class="featured-inner">
                            <figure class="item-thumb">
                                <a class="hover-effect" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/images/features/img-2.jpg" alt="">
                                </a>
                            </figure>
                            <div class="item-body">
                                <h3 class="job-title"><a asp-area="" asp-controller="Home" asp-action="Index">Software Engineer</a></h3>
                                <div class="adderess"><i class="ti-location-pin"></i> Delaware, United States</div>
                            </div>
                        </div>
                    </div>
                    <div class="item-foot">
                        <span><i class="ti-calendar"></i> 5 months ago</span>
                        <span><i class="ti-time"></i> Part Time</span>
                        <div class="view-iocn">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="featured-wrap">
                        <div class="featured-inner">
                            <figure class="item-thumb">
                                <a class="hover-effect" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/images/features/img-3.jpg" alt="">
                                </a>
                            </figure>
                            <div class="item-body">
                                <h3 class="job-title"><a asp-area="" asp-controller="Home" asp-action="Index">Managing Director</a></h3>
                                <div class="adderess"><i class="ti-location-pin"></i> NY, United States</div>
                            </div>
                        </div>
                    </div>
                    <div class="item-foot">
                        <span><i class="ti-calendar"></i> 3 months ago</span>
                        <span><i class="ti-time"></i> Full Time</span>
                        <div class="view-iocn">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="featured-wrap">
                        <div class="featured-inner">
                            <figure class="item-thumb">
                                <a class="hover-effect" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/images/features/img-3.jpg" alt="">
                                </a>
                            </figure>
                            <div class="item-body">
                                <h3 class="job-title"><a asp-area="" asp-controller="Home" asp-action="Index">Graphic Designer</a></h3>
                                <div class="adderess"><i class="ti-location-pin"></i> Washington, United States</div>
                            </div>
                        </div>
                    </div>
                    <div class="item-foot">
                        <span><i class="ti-calendar"></i> 1 months ago</span>
                        <span><i class="ti-time"></i> Part Time</span>
                        <div class="view-iocn">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="featured-wrap">
                        <div class="featured-inner">
                            <figure class="item-thumb">
                                <a class="hover-effect" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/images/features/img-2.jpg" alt="">
                                </a>
                            </figure>
                            <div class="item-body">
                                <h3 class="job-title"><a asp-area="" asp-controller="Home" asp-action="Index">Software Engineer</a></h3>
                                <div class="adderess"><i class="ti-location-pin"></i> Dallas, United States</div>
                            </div>
                        </div>
                    </div>
                    <div class="item-foot">
                        <span><i class="ti-calendar"></i> 6 months ago</span>
                        <span><i class="ti-time"></i> Full Time</span>
                        <div class="view-iocn">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="featured-wrap">
                        <div class="featured-inner">
                            <figure class="item-thumb">
                                <a class="hover-effect" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/images/features/img-1.jpg" alt="">
                                </a>
                            </figure>
                            <div class="item-body">
                                <h3 class="job-title"><a asp-area="" asp-controller="Home" asp-action="Index">Managing Director</a></h3>
                                <div class="adderess"><i class="ti-location-pin"></i> NY, United States</div>
                            </div>
                        </div>
                    </div>
                    <div class="item-foot">
                        <span><i class="ti-calendar"></i> 7 months ago</span>
                        <span><i class="ti-time"></i> Part Time</span>
                        <div class="view-iocn">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Jobs Section End -->
<!-- Clients Section -->
<section class="clients section">
    <div class="container">
        <h2 class="section-title">
            Clients & Partners
        </h2>
        <div class="row">
            <div id="clients-scroller">
                <div class="items">
                    <img src="~/images/clients/img1.png" alt="">
                </div>
                <div class="items">
                    <img src="~/images/clients/img2.png" alt="">
                </div>
                <div class="items">
                    <img src="~/images/clients/img3.png" alt="">
                </div>
                <div class="items">
                    <img src="~/images/clients/img4.png" alt="">
                </div>
                <div class="items">
                    <img src="~/images/clients/img5.png" alt="">
                </div>
                <div class="items">
                    <img src="~/images/clients/img6.png" alt="">
                </div>
                <div class="items">
                    <img src="~/images/clients/img6.png" alt="">
                </div>
                <div class="items">
                    <img src="~/images/clients/img6.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Client Section End -->